.main {
    margin: 1rem 0;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.inputContainer {
    position: relative;
}

.input {
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    height: 2.5rem;
    padding: 0rem 1rem;
    box-shadow: 0 0 0 1px #e0e0e0,
        0 2px 4px 0 rgb(0 0 0 / 7%),
        0 1px 1.5px 0 rgb(0 0 0 / 5%);
    ;
}

.input:focus,
.input:active {
    outline: 0.1rem solid var(--primary)
}

.inputError:hover,
.inputError:focus {
    outline: none
}

.associations {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}