.main {
    margin: 1rem 0;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.inputContainer {
    position: relative;
}

.input {
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    height: 2.5rem;
    padding: 0rem 1rem;
    box-shadow: 0 0 0 1px #e0e0e0,
        0 2px 4px 0 rgb(0 0 0 / 7%),
        0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.input:focus,
.input:active {
    box-shadow: 0 0 0 1px var(--primary),
        0 2px 4px 0 rgb(0 0 0 / 7%),
        0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.inputError:hover,
.inputError:focus {
    box-shadow: 0 0 0 1px #e0e0e0,
        0 2px 4px 0 rgb(0 0 0 / 7%),
        0 1px 1.5px 0 rgb(0 0 0 / 5%);
    background-color: var(--error);
}

.associations {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

/* 
  ##Dark mode
*/
@media (prefers-color-scheme: dark) {
    .input {
        background-color: #0D1116;
        box-shadow: 0 0 0 1px #30363D,
            0 2px 4px 0 rgb(0 0 0 / 7%),
            0 1px 1.5px 0 rgb(0 0 0 / 5%);
    }
}