.main {
    padding: 5% 0;
    height: 100vh;
    background-color: var(--secondary);
}

.column {
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

.content {
    width: 25vw;
}

.input {
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    height: 2.5rem;
    padding: 0rem 1rem;
    box-shadow: 0 0 0 1px #e0e0e0,
        0 2px 4px 0 rgb(0 0 0 / 7%),
        0 1px 1.5px 0 rgb(0 0 0 / 5%);
    ;
}

.input:hover,
.input:focus,
.input:active {
    border-color: var(--primary);
}

.inputError {
    border-color: var(--error-primary);
    background-color: var(--error);
}

.inputError:hover,
.inputError:focus {
    border-color: var(--error-primary);
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.hr {
    flex-grow: 1;
    height: 0.1rem;
    background-color: #E1E1E1;
}

.sectionLabel {
    color: #A1A1A1;
    font-size: 0.9rem;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .main {
        background-color: white;
        height: 100%;
    }

    .content {
        width: 50%;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main {
        height: 100vh;
        background-color: var(--secondary);
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .main {
        background-color: white;
    }

    .content {
        width: calc(100% - 4rem);
    }
}

/* 
  ##Dark mode
*/
@media (prefers-color-scheme: dark) {
    .main {
        background-color: #161B22;
    }

    .column {
        background-color: #1a1c1f;
        box-shadow: 0 0 0 1px #393F4B,
            0 2px 4px 0 rgb(0 0 0 / 7%),
            0 1px 1.5px 0 rgb(0 0 0 / 5%);
    }

    .input {
        background-color: #0D1116;
        box-shadow: 0 0 0 1px #30363D,
            0 2px 4px 0 rgb(0 0 0 / 7%),
            0 1px 1.5px 0 rgb(0 0 0 / 5%);
    }
}