.button {
    outline: none;
    border: none;
    font-weight: 500;
    box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%),
        0 2px 5px 0 rgb(50 50 93 / 10%),
        0 1px 1px 0 rgb(0 0 0 / 7%);
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.9;
    color: #D1D1D1 !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}