.main {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.spaceBetween {
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: 500;
}

.description {
    font-weight: 300;
    line-height: 1.5;
    color: gray;
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
}

.times {
    font-size: 0.8rem;
    color: var(--text);
    font-weight: 400;
}

.image {
    position: relative;
    width: 7.5vw;
    height: 20vh;

    margin-right: 2rem;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .image {
        width: 10vw;
        height: 10vh;
    }

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .image {
        width: 7.5vw;
        height: 15vh;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {}